<head>
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding:0; padding-top: 25px; }
        #map { height: 100%; }
    </style>
</head>
<body>

<ui-gmap-google-map
        center='map.center'
        zoom='map.zoom'
        events= 'events'

        >
    <ui-gmap-window
            coords="selectedMarker"
            show="windowOptions.show"
            closeClick="closeClick()"
            >
        <div class="popup" style="width: 200px; height: 100px;">
            <p>Title: {{selectedMarker.title}}</p>
            <p>{{selectedMarker.body}}</p>
        </div>
    </ui-gmap-window>
    <ui-gmap-markers
            models= 'allNotes'
            coords= "'self'"
            click= 'markerClick'
            >
    </ui-gmap-markers>
</ui-gmap-google-map>
</div>
</body>
</html>